.Product{
    background-color: green;
    width: 400px;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 20px;

}
.Product h1{
    font-size: 20px;
}
.Product a{
    color: white;
}